{% extends 'base.html' %} {% load static %} {%block page_content %}
<section class="greenBg" id="about">

    <div id="judulAbout">
        <h2 class="fontFredoka">Choose One</h2>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm">
                <a href="{% url 'educations' %}">
                    <img class="imageAbout" src="{% static 'educations.jpg' %}" alt="edu">
                </a>
            </div>
            <div class="col-sm">
                <a href="">
                    <img class="imageAbout" src="{% static 'foto2.jpg' %}" alt="edu">
                </a>
            </div>
            <div class="col-sm">
                <a href="{% url 'experiences' %}">
                    <img class="imageAbout" src="{% static 'award.jpg' %}" alt="experiences">
                </a>
            </div>
        </div>
    </div>

</section>
{% endblock %}