{% extends 'base.html' %} {% load static %} {%block page_content %}

<section class="greenBg" id="contact">
    <h2 class="fontFredoka" id="judulContact">CONTACT</h2>
    <div class="container kontak">
        <div class="row">
            <div class="col-sm">
                <a href="https://www.facebook.com/sabila.nurwardani" target="_blank">
                    <img class="imgKontak" src="{% static 'facebook.png' %}" alt="instagram">
                </a>
            </div>
            <div class="col-sm">
                <a href="https://www.linkedin.com/in/sabila-nurwardani-102507165" target="_blank">
                    <img class="imgKontak" src="{% static 'linkedin.png' %}" alt="linkedin">
                </a>

            </div>
            <div class="col-sm">
                <a href="https://www.instagram.com/nurwardaniz" target="_blank">
                    <img class="imgKontak" src="{% static 'instagram.png' %}" alt="instagram">
                </a>

            </div>
            <div class="col-sm">
                <a href="mailto:nurwardanis@gmail.com?subject=invited a job" target="_blank">
                    <img class="imgKontak" src="{% static 'gmail.png' %}" alt="gmail">
                </a>
            </div>
        </div>

    </div>
</section>
{% endblock %}