{% extends 'base.html' %} {% load static %} {%block page_content %}

<section class="darkblueBg" id="background">
    <div class="marginBackground">
        <h2 class="judulBackground">EDUCATIONS</h2>
        <p id="isiEdu">SDN MEKARSARI 01<br> SMPN 1 TAMBUN SELATAN</br>
            SMAN 1 TAMBUN SELATAN </br>
            UNIVERSITY OF INDONESIA</p>
        </p>
    </div>
</section>

{% endblock %}