{% extends 'base.html' %} {% load static %} {%block page_content %}

<section class="purpleBg" id="experiences">
    <div class="marginBackgroundExperience">
        <h2 class="judulBackground" id="judulExp">EXPERIENCE & ACHIEVMENT</h2>
        <p id="isiExp">STAFF OF BEM PENGMAS FASILKOM [2018-2019]<br> VICE OF DEPARTEMEN SOSMAS FUKI</br>
            PIC OF FUNDRAISING PMB 2019</br>
            PIC OF FUNDRAISING SOSPRO</br>
            PRESIDENT OF PRIMBON UI 19 </br>
            TOP 5 FINALIST BUSINESS CASE ARKAVIDIA 5.0
        </p>
    </div>
</section>


{% endblock %}