{% extends "base.html" %} {% load static %} {% block page_content %}
<html>
<section class="darkblueBg" id="home">
    <div id="isiHome">
        <h1 class="fontFredoka">Call me Sabila</h1>
        <h3 class="fontBree">This is my website. You can know me more but not upclose </h3>
    </div>
</section>

</html>
{% endblock %}