{% extends "base.html" %} {% load static %} {% block page_content %}

<section class="purpleBg" id="#portofolio">
    <div class="container portof">
        <div class="row">
            <div class="col-sm">
                <a href="https://marvelapp.com/59je8af" target="_blank">
                    <img class="imgPortof" src="{% static 'portof1New.png' %}" alt="portof1">
                </a>
            </div>
            <div class="col-sm">
                <a href="https://marvelapp.com/59je8af" target="_blank">
                    <img class="imgPortof" src="{% static 'portof2New.png' %}" href="https://marvelapp.com/59je8af" alt="portof2">
                </a>
            </div>
            <div class="col-sm">
                <a href="https://marvelapp.com/59je8af" target="_blank">
                    <img class="imgPortof" src="{% static 'portof3New.png' %}" href="https://marvelapp.com/59je8af" alt="portof3">
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}