        * {
            padding: 0;
            margin: 0;
        }
        
        section {
            height: 100%;
            background-size: cover;
            text-align: center;
        }
        
        .purpleBg {
            background-color: #8b4367;
        }
        
        .colorWhite {
            color: #ffffff;
        }
        /*----------------------------atur navbar-------------------------*/
        
        .menu-jadwal {
            margin-left: 65% !important;
            margin-right: 9% !important;
        }
        
        .navbar-dark .navbar-nav .nav-link {
            font-family: "Bree Serif";
            font-size: 22px;
            color: white !important;
        }
        
        .nav-item {
            text-align: right;
        }
        
        .darkblueBg {
            background-color: #2D3561;
        }
        
        .greenBg {
            background-color: #52DE97;
            overflow: hidden;
        }
        
        .nav-top {
            background-color: #ff6464;
            overflow: hidden;
        }
        
        .nav-top a {
            text-decoration: none;
            float: left;
        }
        /*----------------------------atur navbar-------------------------*/
        
        .fontBree {
            font-family: "Bree Serif";
        }
        
        .fontFredoka {
            font-family: "Fredoka One";
        }
        
        .colorDarkBlue {
            color: #2D3561;
        }
        
        #isiHome {
            padding-top: 20%;
            padding-left: 5%;
            padding-right: 5%;
        }
        
        #home h1 {
            font-size: 130px;
            color: #FFB961;
        }
        
        #home h3 {
            font-size: 20px;
            color: #ffffff;
        }
        /*---------------------------ABOUT-----------*/
        
        .row {
            padding: 3%;
        }
        
        .imageAbout {
            width: 300px;
            border-radius: 50%;
            margin-bottom: 5%;
        }
        
        #judulAbout {
            padding-top: 7%;
        }
        
        #judulAbout h2 {
            font-size: 100px;
            color: #2D3561;
        }
        /*-----------------------------backgrounnd------------------*/
        
        .marginBackground {
            padding-top: 11%;
            padding-left: 3%;
            padding-right: 3%;
        }
        
        .judulBackground {
            font-family: adobe-gothic-std, sans-serif;
            font-size: 80px;
            color: #FFB961;
            font-weight: bold;
        }
        
        .marginBackgroundExperience {
            padding-top: 10%;
            padding-left: 2%;
            padding-right: 2%;
        }
        
        #isiEdu {
            padding-top: 0.5%;
            font-family: adobe-gothic-std, sans-serif;
            font-size: 35px;
            color: #ffffff;
            font-weight: bold;
        }
        /*-----------------CONTACT------------*/
        
        #judulExp {
            color: #FFB961;
        }
        
        #isiExp {
            padding-top: 0.5%;
            font-family: adobe-gothic-std, sans-serif;
            font-size: 35px;
            color: #ffffff;
            font-weight: bold;
        }
        /*------------------------*/
        
        .portof {
            padding-top: 5% !important;
        }
        
        .imgPortof {
            border-radius: 12%;
            width: 65%;
        }
        
        #judulContact {
            padding-top: 13%;
            font-size: 80px;
            color: #2D3561;
            font-weight: bold;
        }
        
        .kontak {
            padding-top: 1%
        }
        
        .imgKontak {
            padding-bottom: 5%;
            padding-right: 0.3%;
            width: 150px;
        }
        /*-----------form Jadwal-----------*/
        
        #formJadwal {
            max-width: 40%;
            max-height: 50%;
            margin: auto;
            margin-top: 6%;
            margin-left: 31%;
            margin-right: 20%;
        }
        
        .form-control {
            max-width: 800px;
        }
        /*-----------------tabel jadwal-----------------*/
        
        #tabeljadwal {
            padding-top: 7%;
            margin-left: 20%;
            margin-right: 20%;
            max-width: 80%;
        }
        /*Buat responsive*/
        
        @media screen and (max-width: 870px) {
            * {
                padding: 0;
                margin: 0;
            }
            section {
                height: 100%;
                background-size: cover;
                text-align: center;
            }
            #isiHome {
                padding-top: 33%;
                padding-left: 5%;
                padding-right: 5%;
            }
            #home h1 {
                font-size: 100px;
            }
            #judulAbout {
                padding-top: 15%;
            }
            #judulAbout h2 {
                font-size: 50px;
                color: #2D3561;
            }
            .imageAbout {
                width: 135px;
                border-radius: 50%;
            }
            .imgPortof {
                margin-bottom: 5%;
                max-width: 85px;
            }
            .portof {
                padding-top: 9% !important;
            }
            /*--------------EDUCATIONS----------*/
            .judulBackground {
                padding-top: 17%;
                font-family: adobe-gothic-std, sans-serif;
                font-size: 65px;
                color: #FFB961;
                font-weight: bold;
            }
            /*------------EXPERIENCES-----------*/
            .marginBackgroundExperience {
                padding-top: 1%;
                padding-left: 2%;
                padding-right: 2%;
            }
            #isiExp {
                font-family: adobe-gothic-std, sans-serif;
                font-size: 23px;
                color: #ffffff;
                font-weight: bold;
            }
            /*-------------CONTACT------------*/
            #judulContact {
                padding-top: 17%;
                font-family: adobe-gothic-std, sans-serif;
                font-size: 75px;
                color: #2D3561;
                font-weight: bold;
            }
            .kontak {
                padding-top: 0%
            }
            .imgKontak {
                padding-right: 0.3%;
                width: 90px;
            }
            /*---------------formJadwal-------*/
            #formJadwal {
                max-width: 40%;
                max-height: 50%;
                margin: auto;
                margin-top: 13%;
                margin-left: 31%;
                margin-right: 20%;
            }
            /*-----------tabel jadwal------------*/
            #tabeljadwal {
                padding-top: 10%;
                margin-left: 10%;
            }
            #tabelJadwal a {
                margin-left: 30%;
            }
        }