{% extends 'baseform.html' %} {% load static %} {% block page_content %}
<section class="formJadwal greenBg">

    <div id='formJadwal'>
        <h2 id="judulForm" class="fontFredoka">Form Jadwal</h2>
        <form method='POST'>

            {% csrf_token %}

            {{ form_jadwal.non_field_errors }}
            <div id='judulAllForm' class="form-group">
                {{form_jadwal.kegiatan.errors }}
                <p style="text-align: left" class="fontFredoka">{{form_jadwal.kegiatan.label}} </p>
                <div>{{form_jadwal.kegiatan}}</div>
            </div>
 

            <div id='judulAllForm' class="form-group">
                <p style="text-align: left" class="fontFredoka">{{form_jadwal.tanggal.label}} </p>
                <div>{{form_jadwal.tanggal}}</div>
                {{ form_jadwal.tanggal.errors }}
            </div>

            <div id='judulAllForm' class="form-group">
                <p style="text-align: left" class="fontFredoka">{{form_jadwal.waktu.label}} </p>
                <div>{{form_jadwal.waktu}}</div>
                {{ form_jadwal.waktu.errors }}
            </div>

            <div id='judulAllForm' class="form-group">
                {{ form_jadwal.tempat.errors }}
                <p style="text-align: left" class="fontFredoka">{{form_jadwal.tempat.label}} </p>
                <div>{{form_jadwal.tempat}}</div>
            </div>

            <div id='judulAllForm' class="form-group">
                {{ form_jadwal.kategori.errors }}
                <p style="text-align: left" class="fontFredoka">{{form_jadwal.kategori.label}} </p>
                <div>{{form_jadwal.kategori}}</div>
            </div>
            <button class="btn btn-primary" type="submit">Kirim</button>
        </form>
  </div>



</section>
{% endblock %}