{% extends 'baseform.html' %}
{% load static %}

{% block page_content %}

<section class="darkBlueBg">
    <div id="tabelJadwal" class="fontBree">
        <h2 class="fontFredoka colorWhite">Jadwal Sabila</h2>
            {% if semuaJadwal %}:
                <table class="table table-sm table-dark">
                    <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col">Kegiatan</th>
                        <th scope="col">Tempat</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Waktu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule in semuaJadwal %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ schedule.kegiatan }}</td>
                            <td>{{ schedule.tempat }}</td>
                            <td>{{ schedule.kategori }}</td>
                            <td>{{ schedule.tanggal }}</td>
                            <td>{{ schedule.waktu }}</td>
                            <td><a class='btn btn-danger' href="{% url 'delete' delete_id=schedule.id %}">Delete</a>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        <a class='btn btn-warning' href="{% url 'formJadwal' %}">Create</a>  
    </div>

</section>


{% endblock %}
